.chip {
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #e0e0e0;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s;

    &:hover {
        background-color: #d0d0d0;
    }
}

.selected {
    background-color: #40a42e;
    color: white;
}

.selected:hover {
    background-color: #1f4518;
}
